.header__bar {
    /* max-width: 80rem; */
    margin-left: auto;
    margin-right: auto;
    background-color: #cc0000 !important;
    text-align: right;
}
.text-muted {
    color: #000!important;
}
